<% if (theme.gitment){ %>
<section class="comments" id="comments">
    <div id="gitment_thread"></div>
    <link rel="stylesheet" href="//unpkg.com/gitment/style/default.css">
    <script src="//unpkg.com/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            id: ''+new Date().getTime()+'',
            owner: 'githinkcn',
            repo: 'githinkcn.github.io',
            oauth: {
                client_id: 'adf26355069e1343d652',
                client_secret: '0224bf8e02ebe57fbc6980ebc19118c8f3e75a45',
            },
        })
        gitment.render('comments')
    </script>
</section>
<% } %>
